body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

.tabs {
  margin: 20px;
}

.tabs button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  background: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

td {
  cursor: pointer;
}

td input {
  width: 100%;
  border: none;
  outline: none;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

#reader {
  width: 300px;
  margin: auto;
}